/*----- COLOR -----*/

$black: #000000;
$white: #FFFFFF;


.blue{
    background-color: blue;
}
.black{
    color: $black;
}
.white{
    color: $white;
}
.back-black{
    background-color: $black;
}
.back-white{
    background-color: $white;
}
/*----- FONT STYLE -----*/

$reg: 300; /*regular*/
$font: 'Archivo', sans-serif;

.light{
    font-weight: $reg;
}

.underline{
    text-decoration: underline;
}


/*----- Border -----*/
$border: 1.5px;
$border-thick: 7px;

/*----- Transition time -----*/
$tran-time: .2s;


/*----- @media width -----*/
$desk: 650px;