footer{
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $black;
    width: 100%;
    position: relative;
    left: -2em;
    bottom: -2em;
}

.footer-list{
    margin: 0%;
    padding: 0%;
    position: relative;
    left: -41vw;
}

p.footer{
    margin-top: 0%;
}

.footer{
    color: $white;
}